<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL"/>
      <!--Debug, Info, Warn,Error,Fatal-->
      <appender-ref ref="file"/>
    </root>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="logs/log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="30" />
      <datePattern value=".yyyy_MM_dd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <logger name="MDMOpcDaGateway">
      <level value="ALL"/>
      <!--Debug, Info, Warn,Error,Fatal-->
    </logger>
  </log4net>
</configuration>
